spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: msvc-student
              uri: http://localhost:8081
              predicates:
                - Path=/api/v1/student/**