
spring:

  cloud:

    function:
      definition: updateCommunication

    stream:
      bindings:
        sendCommunication-out-0:
          destination: send-communication

        updateCommunication-in-0:
          destination: communication-sent
          group: ${spring.application.name}

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    connection-timeout: 10s
