
spring:

  cloud:

    function:
      definition: updateCommunication

    stream:
      bindings:
        sendCommunication-out-0:
          destination: send-communication

        updateCommunication-in-0:
          destination: communication-sent
          group: ${spring.application.name}

      kafka:
        binder:
          brokers:
            - localhost:9092
